@import '../../assets/styles/variables.styl'

.ufe-radio-group
  font-size 14px
  color $text-color
  display inline-block
  line-height unset

.ufe-radio-wrapper
  font-size 14px
  color $text-color
  cursor pointer
  display inline-block
  position relative
  white-space nowrap
  margin-right 8px

.ufe-radio
  font-size 14px
  color $text-color
  white-space nowrap
  cursor pointer
  outline none
  display inline-block
  line-height 1
  position relative
  vertical-align text-bottom

.ufe-radio-wrapper:hover .ufe-radio-inner,
.ufe-radio:hover .ufe-radio-inner
  border-color $primary-color

.ufe-radio-checked
  &:after
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border-radius 50%
    border 1px solid $primary-color
    content ''
    visibility hidden
    animation radioEffect 0.36s ease-in-out
    animation-fill-mode both
  &:hover:after,
  .ufe-radio-wrapper:hover &:after
    visibility visible

.ufe-radio-inner
  font-size 14px
  color $text-color
  position relative
  top 0
  left 0
  display block
  width 16px
  height 16px
  border-radius 100px
  border $border-base
  background-color #fff
  transition all .3s
  &:after
    transform scale(0)
    position absolute
    left 3px
    top 3px
    display table
    width 8px
    height 8px
    border-radius 8px
    border-top 0
    border-left 0
    content ' '
    background-color $primary-color
    opacity 0
    transition all .3s $ease-in-out-circ

.ufe-radio-input
  position absolute
  left 0
  z-index 1
  cursor pointer
  opacity 0
  top 0
  bottom 0
  right 0

.ufe-radio-checked
  .ufe-radio-inner
    border-color $primary-color
    &:after
      transform scale(0.875)
      opacity 1
      transition all .3s $ease-in-out-circ

.ufe-radio-disabled
  cursor not-allowed
  .ufe-radio-input
    cursor not-allowed
  .ufe-radio-inner
    border-color #d9d9d9!important
    background-color $disabled-bg
    &:after
      background-color #ccc
  & + span
    color $disable-color
    cursor not-allowed

span.ufe-radio + *
  padding 0 8px


.ufe-button-wrapper
  margin 0
  height 32px
  line-height 30px
  color $text-color
  display inline-block
  transition all .3s ease
  cursor pointer
  border $border-base
  border-left 0
  background-color #fff
  padding 0 15px
  position relative
  &:not(:first-child)
    &::before
      content ' '
      display block
      top 0
      left -1px
      width 1px
      height 100%
      position absolute
      background-color #d9d9d9
  &:first-child
    border-radius 4px 0 0 4px
    border-left $border-base
  &:last-child
    border-radius 0 4px 4px 0
  &:first-child:last-child
    border-radius 4px
  &:hover
    color $primary-color
    position relative
  .ufe-radio
    opacity 0
    width 0
    height 0
    margin-left 0
    display block
  .ufe-radio-group-large &
    height 40px
    line-height 38px
    font-size 16px
  .ufe-radio-group-small &
    height 24px
    line-height 22px
    padding 0 7px
  &.ufe-button-wrapper-checked
    background-color #fff
    color $primary-color
    border-color $primary-color
    box-shadow -1px 0 0 0 $primary-color
    z-index 1
    &::before
      background-color $primary-color!important
      opacity 0.1
    &:first-child
      border-color $primary-color
      box-shadow none!important
    &:hover
      border-color $hover-color
      color $hover-color
      box-shadow -1px 0 0 0 $hover-color
    &:active
      border-color $active-color
      color $active-color
      box-shadow -1px 0 0 0 $active-color
  &.ufe-button-wrapper-disabled
    border-color #d9d9d9
    background-color $disabled-bg
    color $disable-color
    cursor not-allowed
    &:first-child,
    &:hover
      border-color #d9d9d9
      background-color $disabled-bg
      color $disable-color
    &:first-child
      border-left-color #d9d9d9
    &.ufe-button-wrapper-checked
      color #fff
      background-color #e6e6e6
      border-color #d9d9d9
      box-shadow none

@keyframes radioEffect
  0%
    transform scale(1)
    opacity 0.5
  100%
    transform scale(1.6)
    opacity 0
