@import "../../assets/styles/variables.styl"

.ufe-menu
  font-size $font-size-base
  line-height $line-height-base
  box-sizing border-box
  margin 0
  padding 0
  outline none
  margin-bottom 0
  list-style none
  box-shadow $box-shadow-base
  color $text-color
  transition background .3s, width .2s
  zoom 1
  .ufe-menu-item
    cursor pointer
    margin 0
    padding 0 20px
    display block
    white-space nowrap
    transition color .3s $ease-in-out, border-color .3s $ease-in-out, background .3s $ease-in-out, padding .3s $ease-in-out
  &.ufe-menu-horizontal
    border 0
    border-bottom $menu-border-bottom
    box-shadow none
    line-height 46px
    .ufe-menu-item
      position relative
      top 1px
      float left
      border-bottom 2px solid transparent
      margin-top -1px
