@import('../../assets/styles/variables.styl')
@import('../../assets/styles/mixin.styl')

.ufe-select
  reset-component()
  display inline-block
  position relative
  cursor pointer
  min-height 32px
  outline none
  user-select none
  background-color #fff
  border-radius $border-radius-base
  border $border-base
  transition all .3s $ease-in-out
  padding 0 11px
  position relative
  &.ufe-select-multiple
    padding 0 5px
  &:hover
    border-color $hover-color
  &.ufe-select-selection, &:focus, &:active
    border-color $hover-color
    outline 0
    box-shadow 0 0 0 2px rgba(24, 144, 255, 0.2)
  .ufe-select-input
    display inline-block
    outline none
    border none
    width 100%
    height 30px
    line-height 30px
    vertical-align middle
    &::placeholder
      color #bfbfbf
  i
    color $disable-color
    position absolute
    right 11px
    line-height 30px
    vertical-align middle
  &.ufe-select-disabled
    color $disable-color
    background-color $disabled-bg
    cursor not-allowed
    vertical-align middle
    line-height 30px
    &:hover, &.ufe-select-selection, &:focus, &:active
      border $border-base
      box-shadow none
  .ufe-select-tags
    width 100%
    padding 0
    margin 0
    display inline-block
    vertical-align middle
    clearfix()
    .ufe-select-input
      float left
    .ufe-select-tags-item
      margin-top 3px
      height 24px
      line-height 22px
      color $text-color
      background-color $background-color-light
      border $menu-border
      border-radius $border-radius-sm
      cursor default
      float left
      margin-right 4px
      max-width 99%
      position relative
      overflow hidden
      padding 0 20px 0 10px
      .ufe-select-tags-item-content
        display inline-block
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        max-width 100%
        transition margin .3s $ease-in-out
      .ufe-select-tags-item-icon
        line-height 24px
        font-size 12px
        text-align center
        color $title-color
        cursor pointer
        transition all .3s
        display inline-block
        transform scale(0.83333333) rotate(0deg)
        position absolute
        right 4px
        &:hover
          color #404040

.ufe-select-tooltip-content
  reset-component()
  background-color #fff!important
  color $text-color!important
  margin-top 2px!important
  padding 0!important

.ufe-selelct-list
  outline none
  max-height 250px
  overflow auto
  text-align left
  padding 0
  margin-bottom 0

.ufe-select-item
  position relative
  display block
  padding 5px 12px
  line-height 22px
  font-weight normal
  color $text-color
  white-space nowrap
  cursor pointer
  overflow hidden
  text-overflow ellipsis
  transition background .3s ease
  &.ufe-select-item-hover
    background-color $menu-item-selected-bgc
  &:hover
    background-color $menu-item-selected-bgc
  &:first-child
    border-radius 4px 4px 0 0
  &:last-child
    border-radius 0 0 4px 4px
  &.ufe-select-item-selected
    background-color $background-color-light
    font-weight 600
    color $text-color
    &:hover, &.ufe-select-item-hover
      background-color $menu-item-selected-bgc
  &.ufe-select-item-disabled
    color $disable-color
    cursor not-allowed
    &:hover
      background-color #fff
      cursor not-allowed
      color $disable-color
  &.ufe-select-item-multiple
    position relative
    i
      position absolute
      right 12px
      display none
      color #ddd
      line-height 22px
    &:hover
      i
        display inline-block
    &.ufe-select-item-selected
      i
        display inline-block
        color $primary-color

.ufe-select-group
  .ufe-select-group-title
    color $title-color
    padding 0 12px
    height 32px
    line-height 32px
    font-size $font-size-sm
  .ufe-select-group-list
    margin 0
    padding 0
    > .ufe-select-item
      padding-left 20px

.ufe-select-icon-enter
  transform rotate(0deg)
.ufe-select-icon-enter-active
  transform rotate(180deg)
  transition transform .15s ease-in-out!important
.ufe-select-icon-enter-done
  transform rotate(180deg)
.ufe-select-icon-exit
  transform rotate(180deg)
.ufe-select-icon-exit-active
  transform rotate(0deg)
  transition transform .15s ease-out!important
.ufe-select-icon-exit-done
  transform rotate(0deg)


.ufe-select-list-enter
  transform-origin 0 0
  transform scaleY(0.0001)
  opacity 0
.ufe-select-list-enter-active
  transform scaleY(1)
  opacity 1
  transition transform .15s $ease-out, opacity .15s $ease-out
.ufe-select-list-exit
  transform-origin 0 0
  transform scaleY(1)
  opacity 1
.ufe-select-list-exit-active
  transform scaleY(0.0001)
  opacity 0
  transition transform .15s $ease-in-out, opacity .15s $ease-in-out

.ufe-select-tags-item-move-enter
  transform scale(0.2)
  opacity 0.01
.ufe-select-tags-item-move-enter-active
  transform scale(1)
  opacity 1
  transition all .3s ease
.ufe-select-tags-item-move-exit
  transform scale(1)
  opacity 1
.ufe-select-tags-item-move-exit-active
  transform scale(0.2)
  opacity 0.01
  transition all .3s ease
