.container
  padding 10px
  i
    margin 5px

.up
  cursor pointer

.angle-enter
  transform rotate(180deg)
.angle-enter-active
  transform rotate(360deg)
  transition transform 1s ease-in-out
.angle-enter-done
  transform rotate(360deg)
.angle-exit
  transform rotate(0)
.angle-exit-active
  transform rotate(180deg)
  transition transform 1s ease-out
.angle-exit-done
  transform rotate(180deg)
